[Interface]
Address = {{ wg_server_addr }}/{{ netmask }}
ListenPort = {{ wg_server_port }}
PrivateKey = {{ wg_server_private_key }}

{% for peer in peers %}
[Peer]
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.ip4 }}/32
{% endfor %}
